.mt-20 {
    margin-top:20px;
}

.mt-50 {
    margin-top:50px;
}

.pt-60 {
  padding-top: 60px;
}

.shadow {
    display: grid;
  place-items: center;
    color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 800;
    position: relative;
    width: 700px;
    height: 0px;
    background: #15202B;
  }

  .mt-10 {
    margin-top: 10px;
}
  
  .shadow::before,
  .shadow::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: linear-gradient(45deg,#084723,#e3cc36,black,#e3cc36);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 25s linear infinite;
  }
  
  .shadow::after {
    filter: blur(25px);
  }
  
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }