h3.title-article {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-bottom: 20px;
}
.wrapper-blog ul {
    list-style: initial;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.wrapper-blog img {
    margin: 0 auto;
    padding: 30px;
    display: block;
}

